.navbar {
  padding: 1rem;
  position: fixed; /* Fija el navbar en la parte superior */
  width: 100%; /* Asegúrate de que el navbar ocupe todo el ancho */
  top: 0; /* Posiciona el navbar en la parte superior */
  z-index: 1000; /* Asegúrate de que el navbar esté por encima del contenido */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background: linear-gradient(to top, rgba(46, 46, 46, 0), #14181c);

}

.navbar-container {
  display: flex;
  justify-content: center; /* Centra los elementos del navbar */
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenido */
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-search {
  margin-left: 1rem; /* Espacio entre "Mi perfil" y el buscador */
}

.search-input {
  padding: 0.3rem;
  width: 150px; /* Ancho del campo de búsqueda */
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  color: #fff;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Color del placeholder */
}

.logo-image {
  height: 40px; /* Ajusta el tamaño del logo según sea necesario */
  width: auto;
}