/* Estilo para toda la aplicación */
body, html {
  margin: 0;
  padding: 0;
  background-color: #14181c; /* Color de fondo gris */
  color: #ffffff; /* Color de texto blanco */
  font-family: Arial, sans-serif;
  height: 100%;
}

.App {
  text-align: center;
}

/* Estilo para el contenedor del carrusel */
.carousel-container {
  width: 60%; /* Ajusta el ancho según tus preferencias */
  margin: 0 auto; /* Centra el contenedor */
}

/* Estilo para cada slide del carrusel */
.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para cada elemento del carrusel */
.carousel-item {
  margin: 0 5px;
}

/* Estilo para las imágenes del carrusel */
.carousel-item img {
  width: 100px; /* Ajusta el tamaño según tus preferencias */
  height: auto;
}

/* Estilos para el navbar */
.Navbar {
  position: relative;
  z-index: 1000; /* Asegúrate de que el navbar esté por encima del banner */
  background-color: #2e2e2e; /* Fondo gris para el navbar */
  padding: 10px 0; /* Añade padding al navbar */
}

/* Estilos para el banner */
.banner {
  position: relative;
  width: 80%; /* Ajusta el ancho del banner */
  height: 500px; /* Puedes ajustar la altura según tus necesidades */
  overflow: hidden;
  margin: auto; /* Centra el banner horizontalmente */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner::before {
  top: 0;
  left: 0;
  background: linear-gradient(to right, #14181c, rgba(46, 46, 46, 0) 20%, rgba(46, 46, 46, 0) 80%, #14181c);
  z-index: 1; /* Difuminado detrás del texto */
}

.banner::after {
  bottom: 0;
  left: 0;
  height: 400px; /* Ajusta la altura del difuminado */
  background: linear-gradient(to bottom, rgba(46, 46, 46, 0), #14181c);
  z-index: 1; /* Difuminado detrás del texto */
}


/* Estilos para el texto del banner */
.banner-text {
  position: absolute;
  bottom: 80px; /* Ajusta esta distancia según tus necesidades */
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2em; /* Ajusta el tamaño de fuente según tus preferencias */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para mayor legibilidad */
  z-index: 2; /* Texto delante del difuminado */
}

.banner-text p {
  margin: 0;
}

/* Estilo para el contenedor del botón en el banner */
.banner-button-container {
  position: absolute;
  bottom: 0px; /* Ajusta esta distancia según tus necesidades */
  width: 100%;
  text-align: center;
  z-index: 2; /* Asegura que el contenedor del botón esté delante del difuminado */
}

/* Estilo para el botón en el banner */
.banner-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #006eff; /* Color del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.banner-button:hover {
  background-color: #003e8f; /* Color del botón al pasar el mouse */
}


/* Estilo para el pie de página */
.Footer {
  background-color: #2e2e2e; /* Fondo gris para el footer */
  color: #ffffff; /* Texto blanco para el footer */
  padding: 10px 0; /* Añade padding al footer */
}
